<div class="container bgWhite">
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 tpBtmSpace">
            <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active">
                    ఆంధ్రప్రదేశ్ OCASSOCIATION అజండా
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                        <i class="material-icons">done</i>    మన AP లోని పేద ప్రజలకు (any cast peoples)కు మన OCASSOCIATION తరపున ఆరోగ్యరిత్యా ఉచిత సహయ సహాకారాలందించడంలో ముందుంటాము.
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                        <i class="material-icons">done</i>    పేదలకు, మహిళలలకు మరియు దివ్యాంగులకు చేయూతనిస్తూ ప్రభుత్వము ద్వారా సహాయ సహాకారాలందించేలా చూడటం.
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                        <i class="material-icons">done</i> మన దేశానికి *రైతే వెన్నెముక* అన్న మాటను మన OCASSOCIATION ద్వారా నిజం చేద్దాం,అనగా మనలో అర్హులైన రైతులకు ఏవిధమైన అవసరాలున్నా ఆ అవసరాకోసం ప్రభుత్వ కార్యాలయాలు చుట్టూ తిరగకుండా(ప్రధక్షణలు) చేయకుండా మన OCASSOCIATION ద్వారా ప్రభుత్వ దృష్టికి తీసుకెళ్లి అతి త్వరలో పరిష్కారమయ్యేలా చూడటం.
                </button>
                <button type="button" class="list-group-item list-group-item-action" >
                        <i class="material-icons">done</i>    మన OCలలో చాలామంది తమ పిల్లలను చదివించుకునేందుకు స్థోమత లేనివారున్నారు అటువంటి వారి అవసరాలను ప్రభుత్వ దృష్టికి తీసుకెళ్లి వారికి రావాల్సిన భృతిని వారికి అందేలా చూడటం.
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                        <i class="material-icons">done</i> మన OCASSOCIATIONలోని ఉన్నత విద్య చదువుకునేందుకు వీలులేని పేద విద్యార్థులకు ఆ విద్య ఆగకుండా కొనసాగించేందుకు ప్రభుత్వం ద్వారా ఆవిద్యార్థులకు తగిన న్యాయం జరిగేలా చూడటం.
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                        <i class="material-icons">done</i> మన OC ప్రజలకు ఆరోగ్యం,విద్య మరియు ఉద్యోగాలలో అందరితోపాటు మనకు కూడా సమానంగా హక్కులను కల్పించేలా ప్రభుత్వ దృష్టికి తీసుకెళ్లి మన హక్కులను మనమే సాదించుకునేలా ప్రయత్నం చేద్దాం.(రిజర్వేషన్లు మన OCలకు కూడా కల్పించేలా మనమందరమూ కలసి రిజర్వేషన్ లో చోటు కల్పించుకునేలా చేద్దాం) లేదా (కులానికి కాకుండా పేదరికాని మాత్రమే రిజర్వేషన్లు మన ప్రభుత్వం కల్పించేలా చేసుకోవడం).
                </button>
                <button type="button" class="list-group-item list-group-item-action">
                        <i class="material-icons">done</i> *మన OCASSOCIATION సభ్యులకు విన్నపము* 
                        మన OCASSOCIATION శాశ్వత సభ్యత్వ రుసుము 500+150=650/-రూపాయలు ఈ 150రూపాయలకు మంచి క్వాలిటితో *"QR" code కల్గిన ID కార్డు* జారిచేయబడును.(* మన OCASSOCIATION ఇచ్చే ID కార్డులో QR code కల్గి ఉన్నందున ఆ కార్డును మార్పు చేసుకొని ఇతరులను ప్రవేశించనివ్వకుండా మన AP OCASSOCIATION ను రక్షించుకునేందుకు వీలుంటుంది* )
                </button>
            </div>
            <p>ముఖ్య గమనిక:- మన OCASSOCIATION membership 100000 అయినప్పటి నుండి పైన తెలిపిన కార్యక్రమాలు జరగడమే కాకుండా వచ్చు సభ్యత్వ మూలధనమును మన సభ్యులందరితొ కలసి  చర్చించి ఎలాంటి నష్టము రాకుండా ఉండేవిధంగా ఆలోచించి తగిన విధంగా పెట్టుబడి పెట్టి ఆమూలధనము ద్వారా వచ్చిన ఆదాయాన్ని మూడు భాగాలుగా విభజించి మొదటి భాగాన్ని మన OCASSOCIATION మూలధనములోనికి చేర్చబడుతుంది. రెండవ భాగాన్ని మన OCASSOCIATION డెవలప్మెంట్ కొరకు ఉపయోగించడం జరుగుతుంది.మూడవ భాగాన్ని మన OCASSOCIATION ప్రజలయెక్క సాంఘిక,సంక్షేమానికి ఉపయోగించబడుతుంది.</p>
            <p>పైన తెలిపిన విషయములన్నియు మన వెబ్సైట్ ద్వారా ఎప్పటికప్పుడు అన్ని ఆధారాలతో సహా ప్రతి సభ్యుడు చూసి తెలుసుకునేవిదంగా ఏర్పాట్లు చేయడం జరిగింది.</p>
        </div>
    </div>
</div>